@import '../../sass/mixins.scss';

.calculator {
  @include wrapper;
  padding-top: 55px;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 51.5% auto;
  grid-column-gap: 67px;
}

.title {
  margin-bottom: 26px;
  font-size: 22px;
  font-weight: bold;
}
