@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.footer {
  min-height: 224px;
  background-color: $grey--background;
  padding: 26px 13px;
  margin-top: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list {
  @include list-style-none;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.info {
  max-width: 252px;
  margin-right: 80px;
}

.adress,
.text {
  color: $grey--text;
  font-size: 12px;
  line-height: 17px;
  font-style: normal;
  margin: 0;
}

.adress {
  display: none;
}

.tel {
  @include link;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    opacity: .5;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14px;
  padding-left: 33px;
}

.call {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 17px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 10px;
    height: 16px;
    background-image: url('../../img/svg/smartphone-icon.svg');
    background-color: transparent;
  }
}

.mobile {
  max-width: 175px;
  margin-right: 57px;
}

.phone {
  max-width: 155px;

  &::before {
    left: -33px;
    width: 16px;
    background-image: url('../../img/svg/phone-icon.svg');
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 49px 46px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto auto;
  }

  .adress {
    display: block;
    grid-row: 3/4;
    max-width: 259px;
    margin-top: 20px;
  }

  .contacts {
    grid-column: 2/3;
    grid-row: 1/4;
    justify-content: flex-start;
    padding-top: 11px;
    padding-left: 45px;
  }

  .call {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 46px 46px 0;
  }

  .wrapper {
    @include wrapper;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: 40px auto;
  }

  .contacts {
    justify-content: space-between;
    flex-direction: row;
    grid-column: 3/6;
    grid-row: 1/3;
    padding-left: 33px;
  }

  .adress {
    grid-row: 2/3;
    margin-top: 4px;
  }

  .mobile {
    margin-right: 44px;
  }
}
