@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
}

.subtitle {
  margin: 0;
  margin-bottom: 26px;
}

.subtitle_short {
  max-width: 140px;
}

.button {
  @include interactive;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
  min-width: 188px;
  color: $grey--background;
  background-color: $han-purple;
}

.button__white {
  color: $black--default;
  background-color: $grey--background;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 46px;
    line-height: 54px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  .subtitle_short {
    max-width: 320px;
  }

  .button {
    font-size: $font-size--default;
    line-height: $line-height--default;
    padding: 14px;
    min-width: 208px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 54px;
    line-height: 63px;
  }

  .subtitle {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 36px;
  }

  .subtitle_short {
    max-width: 388px;
  }

  .button {
    font-size: 18px;
    line-height: 21px;
    padding: 16px 50px;
  }

  .button__white {
    padding: 16px 36px;
  }
}
