@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.login {
  @include interactive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey--line;
  padding: 0;
  width: 100%;
  min-height: 60px;
}

.login__img {
  margin: 0 13px;
}


@media (min-width: $tablet-width) {
  .login {
    border: none;
    min-height: fit-content;
    width: fit-content;
    margin-right: -13px;
    margin-left: 13px;
  }

  .text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .login {
    margin-right: 0;
    flex-shrink: 0;
  }

  .text {
    display: inline;
  }
}
