@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.tabs {
  display: none;
}

.services_slider {
  min-height: 362px;
  background-color: $grey--background;

  & .pag:nth-child(n) {
    margin: 0 2px -5px;
    background: $dark-blue;
    opacity: 1;
  }

  & .pag__active:nth-child(n) {
    background: $pagination--active;
  }
}

.service_slide {
  position: relative;
  padding: 56px 15px 0;

  &:nth-child(1) .img {
    background-image: url('../../img/tabs/piggybank.jpg');
  }

  &:nth-child(2) .img {
    background-image: url('../../img/tabs/car.jpg');
    background-position: 42% 87%;
    background-size: 222%;
    top: 15%;
  }

  &:nth-child(3) .img {
    background-image: url('../../img/tabs/lock.jpg');
    background-position: 49% 87%;
    background-size: 170%;
  }

  &:nth-child(4) .img {
    background-image: url('../../img/tabs/mobile.jpg');
    background-position: 50%;
    background-size: 200%;
    top: 13%;
  }

  @media (min-resolution: 2dppx) {
    &:nth-child(1) .img {
      background-image: url('../../img/tabs/piggybank@2x.jpg');
    }

    &:nth-child(2) .img {
      background-image: url('../../img/tabs/car@2x.jpg');
    }

    &:nth-child(3) .img {
      background-image: url('../../img/tabs/lock@2x.jpg');
    }

    &:nth-child(4) .img {
      background-image: url('../../img/tabs/mobile@2x.jpg');
    }
  }
}

.img {
  position: absolute;
  top: 12%;
  right: 0;
  transform: translate(0, 50%);
  width: 87px;
  height: 113px;
  background-color: $grey--background;
  background-repeat: no-repeat;
  background-position: 75% 87%;
  background-size: 300%;
}

@media (min-width: $tablet-width) {
  .services_slider {
    min-height: 380px;

    & .pag:nth-child(n) {
      margin: 0 4px 1px;
    }
  }

  .service_slide {
    padding: 56px 45px 0;

    & .img:nth-child(n) {
      top: -22%;
      right: 6%;
      width: 289px;
      height: 260px;
      background-size: 135%;
      background-position: 95%;
    }

    &:nth-child(3) .img {
      background-size: 120%;
      background-position: 44%;
    }

    &:nth-child(4) .img {
      background-position: 49% -61%;;
    }
  }
}

@media (min-width: $desktop-width) {
  .services {
    @include wrapper;
  }

  .tabs {
    display: block;
  }

  .tab_list {
    @include list-style-none;
    display: flex;
    flex-wrap: wrap;
  }

  .service_tab {
    @include interactive;
    display: flex;
    flex: 1 1 25%;
    min-height: 93px;
    justify-content: center;
    align-items: center;

    & .tab_name::before {
      position: absolute;
      content: '';
      top: -6px;
      left: -41px;
      width: 34px;
      height: 33px;
      background-color: transparent;
      background-image: url('../../img/svg/tabs/vault.svg');
      background-repeat: no-repeat;
    }

    &:nth-child(2) .tab_name::before {
      background-image: url('../../img/svg/tabs/cards.svg');
    }

    &:nth-child(3) .tab_name::before {
      left: -37px;
      background-image: url('../../img/svg/tabs/security.svg');
    }

    &:nth-child(4) .tab_name::before {
      left: -35px;
      background-image: url('../../img/svg/tabs/phone.svg');
    }
  }

  .service_tab__active {
    background-color: $grey--background;
  }

  .tab_name {
    position: relative;
    text-align: center;
    margin-left: 36px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .services_slider {
    height: 410px;
  }

  .service_slide {
    padding: 53px 70px;
    min-height: 410px;

    &:nth-child(n) .img {
      top: -21%;
      right: 12%;
      width: 440px;
      height: 290px;
      background-size: 100%;
    }

    &:nth-child(3) .img {
      top: -25%;
    }

    &:nth-child(4) .img {
      top: -22%;
    }
  }
}
