@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Roboto'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto'),
    url('../fonts/roboto-500.woff2') format('woff2'),
    url('../fonts/roboto-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local('Roboto'),
    url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff');
}
