// Fonts
$font-default: 'Roboto', 'Arial', sans-serif;
$font-size--default: 16px;
$line-height--default: 19px;

// Breakpoints
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$desktop-ctrl-width: 1366px;

$desktop-wrapper-width: 1170px;
$tablet-wrapper-width: 678px;
$mobile-wrapper-width: 290px;
$tablet-modal-width: 678px;
$desktop-modal-login-width: 544px;

$desktop-wrapper-width--relative: 85.65vw;
$tablet-wrapper-width--relative: 88.3vw;
$mobile-wrapper-width--relative: 90.63vw;
$desktop-modal-login-width--relative: 40vw;
$tablet-modal-width--relative: 88.3vw;

// Colors
$han-purple: #2C36F2;
$dark-blue: #2027b3;
$black--default: #1F1E25;
$lightgrey--default: #E0E1EA;
$grey--background: #F6F7FF;
$grey--line: #C1C2CA;
$grey--text: #707C87;
$grey--modal: #394959;

$banner-gradient: linear-gradient(0deg, $dark-blue 0%, $han-purple 67%);
$banner-gradient--block: linear-gradient(183deg, rgba(56,65,255,0) 66%, rgba(56,65,255,1) 97%);
