@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 45px;
}

.closeBtn {
  @include interactive;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background: url('../../img/svg/close-cross.svg') 100% 100% no-repeat;
}

.form {
  width: 100%;
}

.list {
  @include list-style-none;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &:nth-child(2) {
    margin-bottom: 50px;
  }
}

.label {
  font-size: 16px;
  line-height: 22px;
  color: $grey--modal
}

.input {
  @include interactive;
  border: 1px solid $black--default;
  border-radius: 4px;
  background-color: transparent;
  height: 60px;
  padding: 10px;
}

.forgotBtn {
  @include interactive;
  position: absolute;
  right: 0;
  top: 90px;
  font-size: 12px;
  line-height: 17px;
  color: $grey--text;
  text-decoration: none;

  &:hover {
    color: $black--default;
  }
}

.loginBtn {
  @include button;
  @include interactive;
  width: 100%;
  padding: 18px 0;
  font-size: 18px;
  line-height: 21px;
}
