@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

.header {
  display: flex;
  min-height: 91px;
  align-items: center;
  background-color: $grey--background;
}

.nav {
  display: flex;
  align-items: center;
}

.container {
  @include wrapper;
}

.login {
  display: flex;
  padding: 12.5px;
  padding-right: 0;
  min-width: 203px;
  align-items: center;

  &:hover {
    opacity: .5;
  }
}

.loginImg {
  margin-right: 14px;
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba($black--default, .6);
}

.modal__container {
  display: flex;
  flex-direction: column;
  background-color: $grey--background;
  width: $modal-login-width--relative;
  align-items: center;
  margin: auto auto;
  padding: 54px 56px;
  border: 5px solid $han-purple;
}
