@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

// Mobile
.header {
  display: flex;
  align-items: center;
  min-height: 48px;
  background-color: $grey--background;
  padding: 11px 0;
}

.header__navShown {
  position: fixed;
  top:0;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
}

.wrapper {
  @include wrapper;
}

.morph {
  @include interactive;
  position: absolute;
  top: 5px;
  right: 0;
  background-color: transparent;
  border: none;
  background-size: contain;
}

.morph__login {
  width: 14px;
  height: 16px;
  background-image: url('../../img/svg/login-icon.svg');
  background-size: contain;
}

.morph__close {
  width: 13px;
  height: 13px;
  background-image: url('../../img/svg/close-cross.svg');
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav__toggler {
  @include interactive;
  width: 16px;
  height: 10px;
  border: none;
  background-color: transparent;
  margin-right: 8px;
  background: linear-gradient(
    to bottom,
    $black--default 0px,
    $black--default 1px,
    transparent 1px,
    transparent 5px,
    $black--default 5px,
    $black--default 6px,
    transparent 6px,
    transparent 9px,
    $black--default 9px,
    $black--default 10px
  ) 100% 100% no-repeat;
}

.nav__control {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  margin-top: 41px;
}

.menu__hide {
  display: none;
}


// .header {
//   display: flex;
//   min-height: 91px;
//   align-items: center;
//   background-color: $grey--background;
// }

// .nav {
//   display: flex;
//   align-items: center;
// }

// .container {
//   @include wrapper;
// }

// .login {
//   display: flex;
//   padding: 12.5px;
//   padding-right: 0;
//   min-width: 203px;
//   align-items: center;
//   background-color: transparent;
//   border: none;

//   &:hover {
//     opacity: .5;
//   }
// }



// .loginImg {
//   // margin-right: 14px;
// }

// .modal {
//   position: fixed;
//   display: flex;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   align-items: center;
//   background-color: rgba($black--default, .6);
// }

// .modal__container {
//   display: flex;
//   flex-direction: column;
//   background-color: $grey--background;
//   width: $modal-login-width--relative;
//   align-items: center;
//   margin: auto auto;
//   padding: 54px 56px;
//   border: 5px solid $han-purple;
// }
