@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.list {
  @include list-style-none;
  border-top: 1px solid $grey--line;
  border-bottom: 1px solid $grey--line;

  &__footer {
    border: none;
    margin-top: 11px;
  }
}

.list__item {
  @include interactive;

  &:not(:last-child) {
    border-bottom: 1px solid $grey--line;
  }

  &:focus-within {
    outline: 2px solid orange;
  }

  &_footer:not(:last-child) {
    border: none;
  }
}

.link {
  @include link;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;

  &__footer {
    padding: 5px 2px;
    font-size: 14px;
    line-height: 20px;
  }

  &:focus {
    outline: none;
  }

  &__hidden {
    display: none;
  }
}

.active {
  color: $han-purple;
}

@media (min-width: $tablet-wrapper-width) {
  .list {
    display: flex;
    flex-wrap: wrap;
    border: none;

    &__footer {
      flex-direction: column;
    }
  }

  .list__item {
    min-height: min-content;
    margin-right: 3.2vw;

    &:not(:last-child) {
      border: none;
    }
  }

  .link {
    font-size: 14px;
    line-height: 16px;
    min-height: fit-content;
    padding-left: 0;

    &__footer {
      font-weight: 500;
      font-size: $font-size--default;
      line-height: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .list__footer {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 5px;
    margin-left: 18px;
  }

  .link {
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;

    &__footer {
      line-height: 22px;
      padding-top: 4px;
    }
  }

  .list__item {
    margin-right: 2.2vw;
  }
}
