@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.list {
  @include list-style-none;
  border-top: 1px solid $grey--line;
  border-bottom: 1px solid $grey--line;
  // position: ;
  // flex-grow: 1;
  // display: none;
}

.list__item {
  @include interactive;
  min-height: 60px;

  &:not(:last-child) {
    border-bottom: 1px solid $grey--line;
  }

  &:focus-within {
    outline: 2px solid black;
  }
}

// .upper {
//   display: flex;
//   flex-wrap: wrap;
// }

// .list__item {
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

.list__item_footer {
  font-weight: bold;

  &:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }

  &:first-child {
    margin-top: 6px;
  }
}

.link {
  @include link;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;

  &:focus {
    outline: none;
  }
  // padding: 12.5px 0;

  // &:hover {
  //   opacity: .5;
  // }
}

.active {
  color: $han-purple;
}

