@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.link {
  @include link;
  @include interactive;
  display: flex;
  align-items: center;
  width: 149px;
  // margin: 15px 58px 7px;
  margin-right: 58px;
  // margin-bottom: 7px;
  font-weight: bold;
  // font-size: 20px;
  // line-height: 23px;
}

.link__modal {
  display: flex;
  margin: 0;
}

.logo {
  margin-left: -4px;
  margin-right: 7px;
  // margin-right: 10px;
  transform: scale(0.66);
}

.logo__modal {
  transform: scale(1.1);
}

.textBlock {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
}

.subtitle {
  font-size: 12px;
  line-height: 10px;
  margin: 0;
  font-weight: normal;
}
